  form {
    background: #6d6b6b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;
  }
  
  .fila {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  
  .fila label {
    flex: 1 1 100%;
    font-weight: bold;
  }
  
  .fila input,
  .fila select {
    flex: 1 1 30%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .fila.botones {
    justify-content: flex-end;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #9ca3af;
  }
  
  button:hover {
    opacity: 0.9;
  }
  